<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/checklist.css">

    <title>Checklist</title>
</head>

<body>
    <!-- Main Code -->
    <div class="sticky-top" id="header">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#9f1829;">
            <a class="navbar-brand brand-name" href="#"> <img class="brand-image" src="images/Logo.png" alt="">
                Bihey Bazar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-item" href="#">Home</a>
                    </li>
                    <li>
                        <hr class="my-0" style="border-top: 1px solid #f2f2f2;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-item" href="venues.html">Venues</a>
                    </li>
                    <li>
                        <hr class="my-0" style="border-top: 1px solid #f2f2f2;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-item" href="vendors.html">Vendors</a>
                    </li>
                    <li>
                        <hr class="my-0" style="border-top: 1px solid #f2f2f2;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-item" href="recommended.html">Recommended</a>
                    </li>
                    <li>
                        <hr class="my-0" style="border-top: 1px solid #f2f2f2;">
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbar-item" href="checklist.html">Checklist</a>
                    </li>
                    <li>
                        <hr class="my-0" style="border-top: 1px solid #f2f2f2;">
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-button" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="profile-image" src="images/profimg.png"> &nbsp; Username</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Feature</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
        <!-- Main Code -->
        <input type="checkbox" id="check" checked>
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="mychecklist">
                <h4><i class="fas fa-clipboard-list"></i> My Checklist
                    <label for="check">
                        <span><i class="fas fa-bars" id="sidebar-toggle"></i></span>
                    </label>
                </h4>
                <ul>
                    <li><a href="#">Checklist 1</a></li>
                    <li><a href="#">Checklist 2</a></li>
                    <li><a href="#">Checklist 3</a></li>
                </ul>
                <center>
                    <a href="#"><i class="fas fa-plus" id="add-checklist"></i></a>
                </center>
            </div>
            <div>
                <hr class="my-4">
            </div>
            <div class="sharedchecklist">
                <h4> <span><i class="fas fa-share-alt-square"></i></span> Shared Checklist</h4>
                <ul>
                    <li><a href="#">Checklist 1</a></li>
                    <li><a href="#">Checklist 2</a></li>
                    <li><a href="#">Checklist 3</a></li>
                </ul>
            </div>
        </div>
        <!-- Checklist -->
        <div class="checklist">
            <div class="checklist-header">
                <div class="checklist-details">
                    <h3>Checklist Name</h3><br>
                    <p class="lead">Checklist comment
                        <a href="#" class="icon">
                            <span class="material-icons checklist-share">share</span>
                        </a><span class="popup">Share Checklist</span></h6>
                </div>
            </div>
            <div>
                <hr class="my-4">
            </div>
            <div class="container categories">
                <h2>Categories
                    <a href="#" class="icon">
                        <span class="material-icons category-add">add_box</span>
                    </a><span class="popup">Add Category</span>
                </h2>
                <div>
                    <hr class="my-2 mb-4 mt-3">
                </div>
                <!-- Vendor Categories -->
                <div class="vendor-category">
                    <div class="container category-info">
                        <h4 class="category-name mb-4">Category 1
                            <a href="#" class="icon"><span class="material-icons category-delete">delete</span></a><span
                                class="popup">Delete Catgory</span>
                            <a href="#" class="icon1"><span class="material-icons note-add">post_add</span></a><span
                                class="popup1">Add Note</span>
                        </h4>
                        <div class="category-note mb-4">
                            <p>This is a note
                                <a href="#" class="icon">
                                    <span class="material-icons delete">remove_circle_outline</span>
                                </a><span class="popup">Delete Note</span>
                            </p>
                        </div>
                    </div>
                    <div class="vendor-card mb-4">
                        <div class="vendor-image">
                            <img src="images/filler1.jpg" alt="">
                        </div>
                        <div class="vendor-info">
                            <h5 class="vendor-name">Vendor Name
                                <a href="#" class="icon">
                                    <span class="material-icons delete">clear</span>
                                </a><span class="popup">Remove Vendor</span>
                            </h5>
                            <p class="vendor-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                                amet provident ipsa doloremque impedit cum numquam fuga alias libero unde saepe itaque
                                commodi culpa, animi sit fugit dicta eius? Laudantium!</p>
                        </div>
                    </div>
                    <div class="vendor-card mb-4">
                        <div class="vendor-image">
                            <img src="images/filler1.jpg" alt="">
                        </div>
                        <div class="vendor-info">
                            <h5 class="vendor-name">Vendor Name
                                <a href="#">
                                    <span class="material-icons delete">clear</span>
                                </a>
                            </h5>
                            <p class="vendor-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                                amet provident ipsa doloremque impedit cum numquam fuga alias libero unde saepe itaque
                                commodi culpa, animi sit fugit dicta eius? Laudantium!</p>
                        </div>
                    </div>
                </div>
                <div>
                    <hr class="my-2 mb-4">
                </div>
                <div class="vendor-category">
                    <div class="container category-info">
                        <h4 class="category-name mb-4">Category 1
                            <a href="#" class="icon"><span class="material-icons category-delete">delete</span></a><span
                                class="popup">Delete Catgory</span>
                            <a href="#" class="icon1"><span class="material-icons note-add">post_add</span></a><span
                                class="popup1">Add Note</span>
                        </h4>
                        <div class="category-note mb-4">
                            <p>This is a note
                                <a href="#" class="icon">
                                    <span class="material-icons delete">remove_circle_outline</span>
                                </a><span class="popup">Delete Note</span>
                            </p>
                        </div>
                    </div>
                    <div class="vendor-card mb-4">
                        <div class="vendor-image">
                            <img src="images/filler1.jpg" alt="">
                        </div>
                        <div class="vendor-info">
                            <h5 class="vendor-name">Vendor Name
                                <a href="#" class="icon">
                                    <span class="material-icons delete">clear</span>
                                </a><span class="popup">Remove Vendor</span>
                            </h5>
                            <p class="vendor-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                                amet provident ipsa doloremque impedit cum numquam fuga alias libero unde saepe itaque
                                commodi culpa, animi sit fugit dicta eius? Laudantium!</p>
                        </div>
                    </div>
                    <div class="vendor-card mb-4">
                        <div class="vendor-image">
                            <img src="images/filler1.jpg" alt="">
                        </div>
                        <div class="vendor-info">
                            <h5 class="vendor-name">Vendor Name
                                <a href="#">
                                    <span class="material-icons delete">clear</span>
                                </a>
                            </h5>
                            <p class="vendor-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                                amet provident ipsa doloremque impedit cum numquam fuga alias libero unde saepe itaque
                                commodi culpa, animi sit fugit dicta eius? Laudantium!</p>
                        </div>
                    </div>
                </div>
                <div>
                    <hr class="my-2 mb-4">
                </div>
            </div>
            <div>
                <hr class="my-2">
            </div>
            <div>
                <div class="checklist-footer">
                    <div class="checklist-footer-details">
                        <p>Checklist Owner : Username</p><br>
                        <p>Checklist Holders : Usernames
                            <a href="#" class="icon">
                                <span class="material-icons checklist-delete">delete</span>
                            </a>
                            <span class="popup">Delete Checklist</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bd-footer">
        <div class="container-fluid p-3 p-md-5">
            <p>Made by Team VOID</p>
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>