{% extends 'users/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div>
    My Checklists
    </div>
    <div>
        {% for list in author_checklist %}
        {{list.checklist_name}}
        {% endfor %}
    </div>
    <div>
    Shared with me
    </div>
    <div>
        
        {% for list in checklists %}
            {% if user in list.collaborators.all %}
                {{list.checklist_name}}
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {{ checklist.checklist_name }}
        {{ checklist.description }}
        {{ checklist.author }}
        {{ collaborators }}
    </div>
    <div>
        <form method="POST" action="{% url 'checklist:checklist_detail' pk=checklist.pk %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {# {{ checklistcategory_form }} #}
            <input type="submit" class="btn btn-primary" name="checklist_category" value="Create Category">
        </form>
    </div>
    <div>
        Categories: {{checklist_category.text}}
        
       {% for category in checklist_category %}
            {{checklist_category.text}}
            <div>
                <form method="POST" action="{% url 'checklist:checklist_detail' pk=checklist.pk %}">
                    {% csrf_token %}
                    {% bootstrap_form note_form %}
                    {#{{ note_form }}#}
                    <input type="hidden" name="category_pk" value='{{category.pk}}'>
                    <input type="submit" class="btn btn-primary" name="note" value="Add Note">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
