{% extends 'users/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div>
    My Checklists
    </div>
    <div>
        {% for list in author_checklist %}
        {{list.checklist_name}}
        {% endfor %}
    </div>
    <div>
    Shared with me
    </div>
    <div>
        
        {% for list in checklists %}
            {% if user in list.collaborators.all %}
                {{list.checklist_name}}
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'checklist:checklist_create' %}" class="btn btn-primary">Add Checklist</a>
    <div>
        {{ checklist.checklist_name }}
        {{ checklist.description }}
        {{ checklist.author }}
        {{ collaborators }}
    </div>
    <div>
        <button type="button" class="btn btn-primary" id="category-button-show">Add Category</button>
        <button type="button" class="btn btn-primary" id="category-button-hide">Close</button>
        <form method="POST" id="category-form" action="{% url 'checklist:checklist_detail' pk=checklist.pk %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {# {{ checklistcategory_form }} #}
            <input type="submit" class="btn btn-primary" name="checklist_category" value="Create Category">
        </form>
    </div>
    <div>
        Categories: {{checklist_category.text}}
        
       {% for category in checklist_category %}
            <h4>{{category.cat_name}}</h4>
            <div>
                <button type="button" class="btn btn-primary note-button-show" id="note-button-show-{{category.pk}}" value="{{category.pk}}">Add</button>
                <button type="button" class="btn btn-primary note-button-hide" id="note-button-hide-{{category.pk}}" value="{{category.pk}}">close</button>
                <form method="POST" class="note-form" id="note-form-{{category.pk}}" action="{% url 'checklist:checklist_detail' pk=checklist.pk %}">
                    {% csrf_token %}
                    {% bootstrap_form note_form %}
                    {#{{ note_form }}#}
                    <input type="hidden" name="category_pk" value='{{category.pk}}'>
                    <input type="submit" class="btn btn-primary" name="note" value="Add Note">
                </form>
            </div>
            
            {% for note in notes %}
                
                {% if note.category == category %}
                    <h6>{{note.text}}</h6>
                {% endif %}
                    
            {% endfor %}
                
        {% endfor %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    
    $(document).ready(function() {
        $("#category-form").hide();
        $("#category-button-show").show();
        $("#category-button-hide").hide();

        $(".note-form").hide();
        $(".note-button-show").show();
        $(".note-button-hide").hide();

        $("#category-button-show").click(function() {
            $("#category-form").show();
            $("#category-button-hide").show();
            $("#category-button-show").hide();
        });
        $("#category-button-hide").click(function() {
            $("#category-form").hide();
            $("#category-button-show").show();
            $("#category-button-hide").hide();
        });
        $(".note-button-show").click(function() {
            var value = $(this).attr("value");
            $("#note-form-" + value).show();
            $("#note-button-show-" + value).hide();
            $("#note-button-hide-" + value).show();
        })
        $(".note-button-hide").click(function() {
            var value = $(this).attr("value");
            $("#note-form-" + value).hide();
            $("#note-button-hide-" + value).hide();
            $("#note-button-show-" + value).show();
            
        })
    });
    
</script>
{% endblock content %}
