* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

head,
body {
    font-family: "Poppins", sans-serif;

    float: left;

    width: 100%;
    height: 100%;
    margin: auto;
}

/* *Sidebar */

#check {
    display: none;
}

.sidebar {
    position: fixed;
    /* top: 45px;
    bottom: 0; */
    left: 0;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;

    width: 300px;
    height: 100vh;

    /* margin-top: 70px; */

    padding-top: 30px;

    transition: 0.5s;
    transition-property: left;

    background-color: #F2F2F2;
}

.sidebar h4 {
    font-size: 22px;

    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 10px;
}

.mychecklist ul a,
.sharedchecklist ul a {
    line-height: 50px;

    color: black;

    display: block;

    width: 82%;
    padding-left: 35px;

    transition: 0.8s;
    text-decoration: none;
}

.sharedchecklist ul a:hover,
.mychecklist ul a:hover {
    background-color: rgb(136, 136, 136);
}

#add-checklist {
    font-size: 20px;
    line-height: 30px;

    width: 11%;

    text-decoration: none;

    color: white;
    border-radius: 100px;
    background-color: black;
}

#sidebar-toggle {
    margin-left: -50px;
    margin-bottom: 10px;
    /* margin-right: 20px; */

    transition: 0.5s;
    transition-property: color;

    color: #000;
}

#sidebar-toggle-1{
    margin-left: 70px;
    /* margin-right: 20px; */

    transition: 0.5s;
    transition-property: color;

    color: #000;
}

#sidebar-toggle:hover {
    color: #424242;
}

label #sidebar-toggle, label #sidebar-toggle-1{
    font-size: 20px;

    z-index: 1;

    cursor: pointer;
}

#check:checked ~ .sidebar {
    left: -300px;
}

/* *Checklist */

.mychecklist {
    margin-bottom: 20px;
}

.checklist {
    margin-left: 30px;

    /* background-color: antiquewhite; */
    background-position: center;
    background-size: cover;
}

.checkist-header {
    margin-bottom: 20px;
}

.checklist-details {
    padding: 20px;
    margin-left: 20px;

    /* background-color: rgb(72, 255, 0); */
}

.checklist-share {
    float: right; 
    margin: 10px; 
    font-size: 28px; 
    color:#000;
    transition: 0.3s;
}

.checklist-share:hover {
    color:rgb(0, 17, 255);
    cursor: pointer;
}

.categories {
    padding: 20px;

    /* background-color: teal; */
    place-items: center;
}

.category-add{
    float: right; 
    font-size: 38px; 
    color:#000;
    transition: 0.3s;
}

.category-add:hover{
    color:rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.delete{
    float: right; 
    color:#000;
}

.delete:hover{
    color:rgb(255, 0, 0);
    cursor: pointer;
}

.card-form {
    display: flex;
    flex-direction: column;
    background:white ;
    color: black;
    /* text-align: center; */
    padding: 20px;

    width: 80%;
    margin-left: 50px;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.category-delete{
    float: right;

    margin: 10px;

    color: #000;
    transition: 0.3s;
}

.category-delete:hover{
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.category-name {
    margin-bottom: 50px;
}

.note-add{
    float: right;

    margin: 10px;

    color: #000;
    transition: 0.3s;
}

.note-add:hover{
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.category-note p {
    padding: 10px;
    margin-left: 25px;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.vendor-card {
    display: flex;
    flex-direction: column;
    background:white ;
    color: black;
    text-align: center;

    width: 78%;
    margin-left: 50px;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.vendor-image img{
    width: 150px;
    border-radius: 10px;
    margin: 5px;
}

.vendor-name{
    width: 100%;
}

.vendor-info{
    width: 80%;
    margin: 20px;
    width: 80%;
}

.vendor-name{
    width: 100%;
}

@media (min-width: 600px) {
    .vendor-card{
        flex-direction:row;
    }

    .vendor-info{
        text-align:left;
        margin-left: 2em;
    }
}

.checklist-footer{
    padding: 20px;
}

.checklist-footer-details{
    color: rgb(0, 0, 0, 0.6)
}

.checklist-delete{
    float: right; 
    margin: 10px; 
    font-size: 28px; 
    color:rgba(255, 0, 0, 0.3);
}

.checklist-delete:hover{
    color:rgb(255, 0, 0);
    cursor: pointer;
}

.popup{
    float: right;
    position: relative;
    top: auto;
    width: 120px;
    background: rgb(95, 95, 95);
    color: white;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    display: none;
    margin: 0 auto;
    /* opacity: 0; */
    transition: 0.3s;
    transition-property: opacity;
}

.popup1{
    float: right;
    position: relative;
    top: auto;
    width: 120px;
    background: rgb(95, 95, 95);
    color: white;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    display: none;
    margin: 0 auto;
    /* opacity: 0; */
    transition: 0.3s;
    transition-property: opacity;
}

.icon:hover ~ .popup{
    display: block;
}

.icon1:hover ~ .popup1{
    display: block;
}

.bd-footer {
    background-color: #f7f7f7;
    text-align: center;
}
