/* login page */
.btn-danger{
    background-color: #e93547;
    width: 250px;
    margin: auto;
    color: white;
}
.btn-link{
    color: #717171;
}
.botcontainerA{
    margin: auto;
    height: 750px;
}
.loginTextInputA{
    width: 350px;
    margin-bottom: 15px;
}
.loginInputCardA{
    /* margin-top: 70px; */
    background-color: rgb(255, 255, 255);
}
.loginHeader{
    margin-bottom: 100px;
}
.loginButtonA{
    margin-top: 70px;
}

.login-image{
    float: right;
    width: 90%;
    height: 100%;
}

@media (max-width:1050px){
    .login-image{
        display: none;
    }
}

/* signup page */
.goToVendor{
    background-color: #F6717E;
    width: 270px;
    margin: auto;
    color: white;
}
.signupContinue{
    background-color: #e93547;
    width: 220px;
    color: white;
}
.signupProfileHolder{
    height: 90px;
    width: 90px;
    margin-right: 7px;
}
.signupButton{
    margin-top: 70px;
}
.signupFullInput{
    width: 370px;
    margin-bottom: 5px;
}
.signupHalfInput{
    width: 180px;
    margin-bottom: 5px;
}
.signupSemiInput{
    width: 260px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.signupHeader{
    margin-bottom: 70px;
}

/* base */
/* .brandimg-bb{
    margin-left: 10px;
    margin-right: 10px; 
}
.brand-bb{
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 30px;
    font-weight: bold;
    margin-right: 0px;
} */
/* .nav-item a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white !important;
    margin-left: 20px;
    
}
.nav-item a:hover {
    font-weight: bold;
} */

.btn-login{
    height: 40px;
    width: 150px;
    left: 85%;
    right: 2%;
    top: 25%;
    bottom: 25%;
    background: #F7717E;
    border-radius: 30px;
    color: white;
    /* margin-right: 30px; */
    font-size: 18px;
}

.bd-footer{
    background-color: #f7f7f7;
}

.login-button {
    font-size: 18px;
    margin-top: 5px;
    top: 25%;
    right: 2%;
    bottom: 25%;
    left: 85%;

    width: 150px;
    height: 40px;
    margin-right: 30px;

    color: white !important;
    border-radius: 30px;
    background: #b84a62;
}

