.user-profile-container {
  padding-bottom: 10px;
}

/* Header Div */
.user-profile-info {
  display: flex;
  align-items: center;
  background-color: #2b2d42;
  height: 40vh;
}

.user-profile-info .container {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
/* User Image */
.user-profile-image {
  height: 150px;
  width: 150px;
}

.user-profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  background: #fff;
}

/* User Details */
.user-profile-details {
  margin-left: 8%;
  color: #fff;
}

/* Image Change */
.user-image-change {
  margin-left: auto;
  background-color: #ef233c;
}

.user-image-change-btn {
  text-decoration: none;
  margin-top: 20px;
  margin: 25px;
}

/* Password Change */
.user-password-change {
  width: 50%;
  height: fit-content;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 0px rgba(85, 85, 85, 0.377);
}

.user-password-change h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.user-password-change form input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.user-password-change form input[type="submit"] {
  max-width: 100%;
  background: #ef233c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 780px) {
  .user-profile-info {
    height: 60vh;
  }

  .user-password-change {
    width: 90%;
  }
}

@media (max-width: 426px) {
  .user-profile-info .container {
    flex-direction: column;
  }

  .user-profile-image {
    margin: auto;
  }

  .user-image-change {
    margin: auto;
    /* margin-top: 10px; */
  }
}

@media (max-width: 380px) {
  .user-profile-info .container {
    flex-direction: column;
  }
}
