{% load static  %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>
        
        {% block title %}
        {% endblock title %}
            
    </title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8"> 
    

<!-- jquery here -->
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="{%static 'css/profile.css' %}">
    <link rel="stylesheet" href="{%static 'css/login-style.css' %}">


</head>
<body>
    {#created a simple navigaion bar using bootstrap #}
    <div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EB5757;">
        <a class="navbar-brand brand-bb" href="{%url 'home' %}"><img class="brandimg-bb" src="{% static 'images/Logo_Title_White.png'  %}" height="50px">Bihey Bazar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>


    {# navbar-content #}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link type1" href="{% url 'vendors:vendor_list' %}">Vendors</a>
                </li>
                <li><hr class="my-0" style="border-top: 1px solid #f2f2f2;"></li>
                <li class="nav-item">
                <a class="nav-link type1" href="#">Venues</a>
            

            <li><hr class="my-0" style="border-top: 1px solid #f2f2f2;"></li>
            {% if user.is_customer %}
            <li class="nav-item">
          
        <a class="nav-link type1" href="{% url 'customers:questions' %}">Recommended</a>
      </li>
      <li><hr class="my-0" style="border-top: 1px solid #f2f2f2;"></li>
      <li class="nav-item">
        
        <a class="nav-link type1" href="{% url 'checklist:all' %}">Checklist</a>
      </li><li><hr class="my-0" style="border-top: 1px solid #f2f2f2;"></li>
    </ul>
    <ul class="navbar-nav ml-auto">
            {% endif %}
      {% if user.is_authenticated %}
        <div class="btn-group">
            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item dark-red" href="{% url 'users:logout' %}">Log out</span></a>
            </div>
          </div>
      </ul>

    {# if user is not authenticated #}
      {% else %}
       {# injection of  signup as vendor button from customer_signup.html #}
       {% block precontent%}
       {% endblock precontent%}


       {# injection of signup as customer from vendor_signup.html #}
       {% block altercontent%}
       {% endblock altercontent%}
       
       {# injection of login button from index.html #}
       {% block logincontent %}
       {% endblock logincontent %}
      
     

      {% endif %}
            

            
         
        </div>
    </nav>
</div>
    

    
   
        
    {# all the lines of code inside block body-content will be injected here#}
    {% block body_content %}
    {% endblock body_content %}


    {# all the lines of code inside block content will be injected here#}
    {% block content %}
    {% endblock content %}

    
     
     <!-- javascript here -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
    <script src="{% static 'js/custom-jquery.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

    
</body>
</html>