{# index.html extends from users base.html #}
{% extends 'users/base.html' %}
{% load static%}

{# this block contains login button #}
{% block logincontent %} 
<li class="list-item">
  <button class="btn my-2 my-sm-0 btn-login" type="submit"><a href="{% url 'users:login' %}" class="nav-link"><span id="btn-text">Login</span></a></button>
</li>
  {% endblock logincontent %}


{# block content contains the main content of this page#}
{% block content %}
<div class="slider-container">
    <div id="slides" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/background.jpg'  %}" alt="Sliding_Image">
        </div>
          <div class="carousel-item">
            <img src="{% static 'images/background.jpg'  %}" alt="Sliding_Image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/background.jpg'  %}" alt="Sliding_Image">
          </div>
      </div>
    </div>
  </div>
  
  {# Contents #}
    <div class="content-container container">
  
    {# View Categories #}
      <div class="description-container">
        <div class="jumbotron">
          <p class="lead">Bihey Bazar collects various categories of the vendors required for a typical wedding and allows you to consider them in your checklist.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">View Categories</a>
        </div>
      </div>
  
    {# Feature Options #}
      <div class="featureopt-container">
        <div class="container-fluid padding">
          <div class="row welcome text-left">
            <div class="col-12">
              <h3>Featured</h3>
            </div>
          </div>
          <div class="row welcome text-right">
            <div class="col-12">
              <a href="#" style="text-decoration: none;">Show more ></a>
            </div>
          </div>
        </div>
      </div>
  
    
    {# Feature Cards #}
        <div class="container-fluid padding">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
                <div class="card-body">
                  <h5 class="card-title">Vendors Name</h5>
                  <a href="https://www.facebook.com" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
                <div class="card-body">
                  <h5 class="card-title">Vendors Name</h5>
                  <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
                <div class="card-body">
                  <h5 class="card-title">Vendors Name</h5>
                  <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3"> 
              <div class="card">
                <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
                <div class="card-body">
                  <h5 class="card-title">Vendors Name</h5>
                  <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
    
    {#  Categories Options #}
      <div class="categoriesopt-container">
        <div class="featureopt-container">
          <div class="container-fluid padding">
            <div class="row welcome text-left">
              <div class="col-12">
                <h3>Categories</h3>
              </div>
            </div>
          <div class="row welcome text-right">
            <div class="col-12">
              <a href="#" style="text-decoration: none;">Show more ></a>
            </div>
          </div>
          </div>
        </div>
      </div>
  
    
    {# Categories Cards #}
      <div class="container-fluid padding">
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
              <div class="card-body">
                <h5 class="card-title">Vendors Name</h5>
                <a href="https://www.facebook.com" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
              <div class="card-body">
                <h5 class="card-title">Vendors Name</h5>
                <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
              <div class="card-body">
                <h5 class="card-title">Vendors Name</h5>
                <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top" src="{% static 'images/vase.jpg'  %}">
              <div class="card-body">
                <h5 class="card-title">Vendors Name</h5>
                <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
    {# Footer #}
    <footer class="bd-footer">
        <div class="container-fluid p-3 p-md-5">
          <p>Made by Team VOID</p>
        </div>
      </footer>
      
      
{% endblock content %}