{# index.html extends from users base.html #}
{% extends 'users/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block altercontent%}

{% endblock altercontent%}


{% block content %}

<!-- {% block title %}
    biheybazar - Login
{% endblock title %} -->




{# login form shouldn't be displayed if the user is already logged in #}

{% if user.is_authenticated %}
<div class="container">
    <div class="jumbotron">
        <h2>You are already logged in. Please logout to sign in as a different user.</h2>
    </div>
</div>

{% else %}

{# login form where user can input username and password#}
<!-- Login page -->
<section>
    <div class="login-container">
        <div class="user signinbox">
            <div class="login-image"><img src="{% static 'images/paimon.jpg' %}" alt=""></div>
            <div class="login-box">
                <form method="POST">
                    {% csrf_token %}
                    <h2>Log In</h2>
                    <input type="text" name="username" id="" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" name="" value="Login">
                    <p class="signup">New Here? <a href="{% url 'users:signup_customer' %}">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="container pt-5">
    <div class="row pb-5">
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mt-3 text-muted">BiheyBazar, &copy;2020</small>
        </div>
    </div>
</footer>

{% endif %}

{% endblock content %}