{# index.html extends from users base.html #}
{% extends 'users/base.html' %}
{% load bootstrap4 %}
   
{% block content %}

{# this block contains signup button #}
  {% block altercontent%}          
      <li><a href="{% url 'users:signup_customer' %}" class="nav-link"><button type="button" class="btn btn-warning">Sign Up</button></a></li>
  {% endblock altercontent%}


{% block title %}
    biheybazar - Login
{% endblock title %}
    
    {# login form shouldn't be displayed if the user is already logged in #}

    {% if user.is_authenticated %}
        <div class="container">
            <div class="jumbotron">
                <h2>You are already logged in. Please logout to sign in as a different user.</h2>
            </div>
        </div>
    
    {% else %}

    <div class="container">
        <h1>Log In</h1>
        
        {# login form where user can input username and password#}
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>

    {% endif %}

{% endblock content %}
    